* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.findCarrot {
    background: center/cover no-repeat url("../img/background.png");
    width: 900px;
    height: 600px;
    margin: 20px auto auto;
    border-radius: 30px;
}

.carrot__controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    margin-bottom: 100px;
}

.controller__startBtn {
    width: 70px;
    height: 70px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #F5A805;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}


.controller__timer {
    border: 5px solid black;
    height: 50px;
    width: 140px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.carrot_counter {
    border: 5px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: coral;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 50px;
}

.counter {
    vertical-align: middle;
    line-height: 60px;

}

.play__items {
    width: 100%;
    height: 300px;
    position: relative;
}
.result__box {
    width: 500px;
    height: 200px;
    background-color:  rgba(0, 0, 0, 0.5);;
    color: white;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: 40px;

}
.retry_btn {
    width: 70px;
    height: 70px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #F5A805;
    font-size: 40px;
    margin: 10px 0;
    cursor: pointer;
}
.result__text {
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.item {
    position: absolute;
}